html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    transition: width 2s, height 4s;
}

form {
    display: table;
    
}

form p {
    display: table-row;
    margin: 10px;
    padding-top: 10px;
}

form label {
    display: table-cell;
}

table {
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}

th {
    border-style: collapse;
    padding: 5px;
    border: 1px solid black;
}

tr {
    border: 1px solid black;
}

td {
    margin: 5px;
    padding: 5px;
    min-width: 50px;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
}

button {
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
}

button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

button:active {
    transform: translateY(2px);
}

.control {
    margin: auto;
    min-width: 150px;
}

.complete {
    background-color: #4CAF50; 
}

.remove {
    background-color: rgb(255, 161, 161); 
}

.tableText {
    min-width: 150px;
    text-align: left;
}

.test {
    position: fixed;
    margin-left: 80%;
    border: 1px solid black;
    padding: 10px;
    display: inline;
    justify-content: right;
    background-color: white;
    margin-top: 10px;
    font-size: 12px;
}

.test button {
    margin: auto;
    margin-bottom: 5px;
    min-width: 120px;
    font-size: 12px;
}

#controls {
    overflow: hidden;
    border-bottom: 1px solid black;
    padding-left: 20px;
    padding-bottom: 20px;
}

#display {
    padding: 20px;
}

#masterButtons button {
    margin-bottom: 20px;
    display: inline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: right;
    cursor: context-menu;
}

#content {
    margin-right: 40px;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    text-decoration: underline;
    color: inherit;
    color: darkgray;
}

.underline {
    position: relative;
}
  
.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: lightgray;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
}

#instruction {
    font-size: 15px;
    color: rgb(92, 92, 92);
}
